.bundle
tags
.idea
.DS_Store
*.swp
*.swo
hudson
log/*
config/database.yml
nbproject/
*.swp
.powenv
.sass-cache
tags
pdf_templates
parallel.sh
coverage/*
tmp/*
backups
spec/spec_report.html
rerun.txt
nbproject/
data/
uploads/
db/*.sqlite3
